[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=ScoobyRom
Terminal=false
Exec=mono ScoobyRom.exe
Comment=Car control unit firmware (ROM) analysis and visualization tool, working for some Denso ROM types.
Categories=DataVisualization;Education;
